@{
    ViewBag.Title = "About Car Sharing";
}
<h3>@ViewBag.Message</h3>

<p>
    CarShare website is a platform where you can post and find a route. If you are driving somewhere,
    let everybody know, and get companions.
    If you need a drive, browse through the registered routes, and find the one that suits you.
    Traveling together is more fun :)
</p>
