@{
    ViewBag.Title = "Contact";
}
<h3>@ViewBag.Message</h3>

<address>
    Chisinau<br />
    Stefan cel Mare Bd<br />
    <abbr title="Phone">Phone:</abbr>
    00 373 69559116
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@carshare.com</a><br />
</address>