<head>

    @{
        ViewBag.Title = "Home Page";
    }
    <link rel="stylesheet" href="@Url.Content("~/Content/template/")style.css" media="screen">
    <link rel="stylesheet" href="@Url.Content("~/Content/template/")style.responsive.css" media="all">
    <style>
        .art-content .art-postcontent-0 .layout-item-0 {
            color: #B2B2B2;
            background: #5A9F46;
            padding: 0px;
        }

        .art-content .art-postcontent-0 .layout-item-1 {
            color: #B2B2B2;
            background: #4C84A9;
            padding: 0px;
        }

        .art-content .art-postcontent-0 .layout-item-2 {
            color: #B2B2B2;
            background: #3B6C91;
            padding: 0px;
        }

        .art-content .art-postcontent-0 .layout-item-3 {
            padding: 15px;
        }

        .art-content .art-postcontent-0 .layout-item-4 {
            color: #B2B2B2;
            background: #1C3F5A;
            padding: 15px;
        }

        .ie7 .art-post .art-layout-cell {
            border: none !important;
            padding: 0 !important;
        }

        .ie6 .art-post .art-layout-cell {
            border: none !important;
            padding: 0 !important;
        }
    </style>
</head>

@*<div class="row">
    <div class="col-md-4">*@
<div class="art-sheet clearfix">
    <div class="art-layout-wrapper">
        <div class="art-content-layout">
            <div class="art-content-layout-row">
                <div class="art-layout-cell art-content">
                    <article class="art-post art-article">
                        <div class="art-postcontent art-postcontent-0 clearfix">
                            <div class="art-content-layout">
                                <div class="art-content-layout-row">
                                    <div class="art-layout-cell layout-item-0" style="width: 33%">
                                        <h4>Where do you drive?</h4>
                                        <img width="297" height="197" alt="" class="art-lightbox" src="~/Content/template/images/travelling2.jpg">
                                        <div class="art-content-layout">
                                            <div class="art-content-layout-row">
                                                <div class="art-layout-cell layout-item-3" style="width: 33%">
                                                    <p>
                                                        Car Sharing platform is a fun way to travel through the country and outside.
                                                        Share your route to find travel companions. Travelling toghether is always better.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="art-layout-cell layout-item-1" style="width: 34%">
                                        <h4>Do you need a drive?</h4>
                                        <img width="306" height="196" alt="" class="art-lightbox" src="~/Content/template/images/ride.jpg">
                                        <div class="art-content-layout">
                                            <div class="art-content-layout-row">
                                                <div class="art-layout-cell layout-item-3" style="width: 34%">
                                                    <p>Browse through our platform and find a rout that suits you. Get to know the driver and enjoy your trip.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="art-layout-cell layout-item-2" style="width: 33%">
                                        <h4>Share the costs</h4>
                                        <img width="296" height="198" alt="" class="art-lightbox" src="~/Content/template/images/fuel.jpg">
                                        <div class="art-content-layout">
                                            <div class="art-content-layout-row">
                                                <div class="art-layout-cell layout-item-3" style="width: 33%">
                                                    <p>Travelling with Car Sharing is the cheapest way. Share not only your route, but also the costs.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>
